:root {
    --bodyColor: #f2f2f2;
    --textColor: #00000090;
    --textColor2: #484848;
    --textColor3: #343434;
    --navbarColor: #ffffff;
    --subHeaderColor: #2266c8;
    --verdeSantander: #359138;

    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;

}

html, body {
    background-color: var(--bodyColor);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--subHeaderColor);
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
}

header .contenedor .caja-header {
    padding-bottom: 10px; 
    padding-top: 10px;
}
header .contenedor .caja-header h4 {
    margin-top: 0px ;
    text-align: center;
    color: var(--navbarColor);
    padding-bottom: 0px;
    margin-bottom: 0px;
}


header .contenedor .caja-header .logo {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .contenedor .caja-navbar {
    display: flex;
    justify-content: space-between;

}
.navbar .contenedor .caja-navbar .logo-santander {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .contenedor .caja-navbar .logo-santander img {
    height: 70%;
}

.navbar .contenedor .caja-navbar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navbar .contenedor .caja-navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar .contenedor .caja-navbar nav ul li {
    padding: 12px 12px;
}
.navbar .contenedor .caja-navbar nav ul li:hover {
    background-color: #D5D8DC ;
}

.navbar .contenedor .caja-navbar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: var(--text-sm);
}

.navbar .contenedor .caja-navbar nav ul li a:hover{
    color: var(--subHeaderColor);
}

.background {
    width: 100%;
}
.background .contenedor .caja-texto p {
    text-align: justify;
    line-height: 1.2;
    font-size: 20px;
}
.background .personas {
    background-color: #D5D8DC;
    padding: 20px 20px;
}
.background .personas h1 {
    text-align: center;
}
.background .piedepagina .acercadenosotros {
    background-color: #343434;
    display: flex;
    align-items: center;
}

.background .piedepagina .acercadenosotros  img {
    width: 40px;
    height: 40px;
    border-radius: 50px 50px;
    padding: 10px 10px;
}