:root {
    --bodyColor: #f2f2f2;
    --textColor: #00000090;
    --textColor2: #484848;
    --textColor3: #343434;
    --navbarColor: #ffffff;
    --subHeaderColor: #2266c8;
    --verdeSantander: #359138;

    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;

}

html, body {
    background-color: var(--bodyColor);
}

header {
    background-color: var(--subHeaderColor);
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
}

header .contenedor .caja-header {
    padding: 6px 0;
}

header .contenedor .caja-header .logo {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
}

.navbar .contenedor .caja-navbar {
    display: flex;
    justify-content: space-between;

}
.navbar .contenedor .caja-navbar .logo-santander {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .contenedor .caja-navbar .logo-santander img {
    height: 70%;
}

.navbar .contenedor .caja-navbar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navbar .contenedor .caja-navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar .contenedor .caja-navbar nav ul li {
    padding: 12px 12px;
}
.navbar .contenedor .caja-navbar nav ul li:hover {
    background-color: #D5D8DC ;
}

.navbar .contenedor .caja-navbar nav ul li a {
    text-decoration: none;
    color: var(--textColor3);
    font-size: var(--text-md);
}

.navbar .contenedor .caja-navbar nav ul li a:hover{
    color: var(--subHeaderColor);
}

.background {
    width: 100%;
}
.background .imagenes{
    height: 1060px;
    background-color: #D5D8DC;
}

.background .imagenes img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
}
.background .imagenes .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
}
.background .contenedor .p{
    color: var(--textColor2);
    font-size: 26px;
    line-height: 38px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.background .contenedor .p h1 {
    color: var(--textColor3);
}