:root {
    --bodyColor: #f2f2f2;
    --textColor: #00000090;
    --textColor2: #484848;
    --textColor3: #343434;
    --navbarColor: #ffffff;
    --subHeaderColor: #2266c8;
    --verdeSantander: #359138;

    --text-xs: 0.75rem;
    --text-sm: 1rem;
    --text-md: 1.5rem;
    --text-lg: 2rem;
    --text-xl: 3rem;

}

html, body {
    background-color: var(--bodyColor);
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: var(--subHeaderColor);
}

.contenedor {
    max-width: 1024px;
    margin: 0 auto;
}

header .contenedor .caja-header {
    padding: 6px 0;
}

header .contenedor .caja-header .logo {
    height: 20px;
    width: auto;
    object-fit: contain;
}

.navbar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar .contenedor .caja-navbar {
    display: flex;
    justify-content: space-between;

}
.navbar .contenedor .caja-navbar .logo-santander {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar .contenedor .caja-navbar .logo-santander img {
    height: 70%;
}

.navbar .contenedor .caja-navbar nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.navbar .contenedor .caja-navbar nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar .contenedor .caja-navbar nav ul li {
    padding: 12px 12px;
}
.navbar .contenedor .caja-navbar nav ul li:hover {
    background-color: #D5D8DC ;
}

.navbar .contenedor .caja-navbar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: var(--text-sm);
}

.navbar .contenedor .caja-navbar nav ul li a:hover{
    color: var(--subHeaderColor);
}

.background {
    width: 100%;
}
.background .imagenes{
    height: auto;
    background-color: #D5D8DC;
    width: 100%;
    overflow: hidden;
}

.background .imagenes .slider-contenedor {
    width: 100%;
    display: flex;

}
.background .imagenes .texto-encima {
    color: white;
}

.background .imagenes .slider-contenedor .contenido-slider {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background: #332863;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #611a68;
}

@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}

.background .imagenes .slider-contenedor .contenido-slider img {
    width: 100%;
}

.background .imagenes img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}
.background .imagenes .texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, 0%);
    color: black;
    font-size: 70px;
}
.background .contenedor .p{
    color: var(--textColor3);
    font-size: 26px;
    line-height: 38px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.background .contenedor .p h1 {
    color: black;
    
}
.background .zona-videos {
    width: 100%;
    padding: 48px 0;
    background-color: var(--subHeaderColor);
}

.background .zona-videos .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background .zona-videos .contenedor iframe {
    width: 100%;
}

.background .zona-videos .contenedor iframe:first-child {
    margin-right: 30px;
}
 
.background .contenedor .caja-historia {
    display: flex;
    background-color: #D5D8DC;
    margin: 40px 0;
    font-size: 24px;
    text-align: justify;
    padding: 20px 20px;
    color: var(--textColor3);
}
.background .contenedor .caja-historia img {
    width: 400px;
    height: 300px;
    margin-left: 20px;
    
}

.background .contenedor .caja-historia  div a {
    color: var(--textColor3);
    
}

.background .contenedor .caja-historia  div a:hover {
    color: var(--subHeaderColor);
}